<!-- #SUBJECT: Активация аккаунта-->
<!doctype html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>Здравствуйте, %name%.</p>
<p>Чтобы активировать Вашу учетную запись, пожалуйста, перейдите по ссылке: <a href="%activationLink%">%activationLink%</a></p>
<p>Если Вы не проводили регистрацию, проигнорируйте это письмо - возможно, кто-то совершил ошибку.</p>

%EMAIL_SIGNATURE%
</body>
</html>
